@media (max-width: 650px) {
    .button-container {
        position: static;
        text-align: center;
        margin-top: 10px;
    }

    .button {
        display: block;
        margin: 10px auto;
    }

    h1 {
        font-size: 60px;
    }

    input[type="text"] {
        width: 80%;
    }
}
.payment-icons-mobile {
  display: none; /* Сначала скрываем маленькие картинки на мобильной версии */
}
.sidebar {
display: none
}



