@media (max-width: 650px) {
    .button-container {
        position: static;
        text-align: center;
        margin-top: 10px;
    }

    .button {
        display: block;
        margin: 10px auto;
    }

    .big-image {
        width: 100%;
    }

    h1 {
        font-size: 60px;
    }

    input[type="text"] {
        width: 80%;
    }
}